.map-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

.map-header h1 {
  margin: 0;
  font-size: 2rem;
}

.map-header p {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}
